main {
    display: flex;
    flex-direction: column;
    min-width: 307px;
}
main .top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    min-height: 478px;
    z-index: -1;
}

main .top h1 {
    text-align: center;
    width: 80%;
    margin: 10px;
    transform: skew(5deg);
    text-shadow: -4px 7px rgba(255, 255, 255, 0.3);
    user-select: none;
}

main .top .container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    transform: skew(5deg);
    width: 80%;
}

main .top .container p {
    max-width: 500px;
}

main .top .container .img {
    transform: skew(5deg);
    height: 240px;
    width: 240px;
    transition: 0.2s;
}

main .top .container .img .bodern {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 2px solid white;
    z-index: -1;
    transition: 0.2s;
}

main .top .container .img img{
    margin: 20px;
    height: 200px;
    width: 200px;
    transition: 0.2s;
}



@media screen and (max-width: 777px) {
    main .top .container p span, main .top .container .img{
        display: none;
    }
}