footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    min-width: 295px;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    user-select: none;
    font-size: 25px;
    margin: 10px;
    transform: skew(5deg);
    text-shadow: -3px 2px rgba(255, 255, 255, 0.5);
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-block-start: 0;
    margin-block-end: 0;
    height: 100%;
}

footer ul li {
    margin: 10px;
    transition: 0.2s;
    user-select: none;
}

footer a {
    color: white;
    font-size: 16px;
    user-select: none;
}

footer ul li:active {
    transform: skew(5deg);
    text-shadow: -2px 3px rgba(255, 255, 255, 0.3);
}

@media (hover: hover) { 
    footer ul li:hover {
        transform: scale(1.2);
    }
    footer ul li:active {
        transform: skew(5deg) scale(1.2);
    }
}