@font-face {
    font-family: IbmVga8x16;
    font-style: normal;
    font-weight: 400;
    src: url(../../Fonds/Web437_IBM_VGA_8x16.woff) format('woff');
}

@font-face {
    font-family: IbmVga8x16-2x;
    font-style: normal;
    font-weight: 400;
    src: url(../../Fonds/Web437_IBM_VGA_8x16-2x.woff) format('woff');
}

html {
    scroll-behavior: smooth;
    scrollbar-color: white transparent;
    scrollbar-width: thin;
}

body {
    cursor: url(../../Images/CursorClick.png), auto;
    cursor: url(../../Images/Cursor.png), auto;
    font-family: IbmVga8x16;
    background-color: black;
    color: #FFFFFF;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    padding-inline-start: 0;
}

a {
    text-decoration: none;
}

img {
    user-select: none;
}

img.small {
    width: 30px;
    height: 30px;
}

:hover {
    cursor: url(../../Images/Cursor.png), pointer;
}

:active {
    cursor: url(../../Images/CursorClick.png), auto;
}

::selection {
    background-color: #E0E0E0;
    color: #000000;
}

/* 
    shvabrik is mop,
    its lie,
    I know what u want to say
            -"but why"
    u have no идей

    швабрик is швабра
    becose shvabrik is mop
    я хз это пиздец
    я еблан бебебе

*/
